// Added css:


.home-pic {
  grid-area: home-pic;
}

.home-text {
  grid-area: home-text;
}

.grid_home {
  display: grid;
  grid-template-areas:
    'home-text'
    'home-pic';
  grid-row-gap: 30px;
  padding-bottom: 5%;
  justify-content: center;
}

@media (min-width: 400px) {
  .grid_home {
  display: grid;
  grid-template-areas:
    'home-pic home-pic home-pic home-text home-text home-text home-text';
  grid-column-gap: 30px;
//  padding-bottom: 5%;
  padding-right: 5%;
  justify-content: center;
}
}


.grid_outreach {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px 40px;
  margin-top: 40px;
  justify-content: center;
}

@media (min-width: 700px) {
.grid_outreach {
  display: grid;
  grid-template-columns: 300px 330px;
  grid-gap: 40px 40px;
  margin-top: 40px;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
}
}

@media (min-width: 1100px) {
.grid_outreach {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-gap: 40px 40px;
  margin-top: 40px;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
}
}

/*.box_outreach{
  background-color: #f8f8f8;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px 1px 1px 1px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}
*/
.wrapper_outreach {
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: 2px solid LightGrey;
  padding-bottom: 20px;
  padding-top: 40px;
  justify-content: center;
}

@media (min-width: 750px) {
  .wrapper_outreach {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #f8f8f8;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
//  padding-bottom: 20px;
  border: 1px 1px 1px 1px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  justify-content: center;
  text-align: center;
}
}

.pic_outreach {
//  display: inline-block;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  height: auto;
  justify-content: center;
}

.text_outreach {
//  display: inline-block;
}

.box {
  background-color: white;
}

.left_column_picture {

}

.right_column {
  width:80%;
}

.fieldwork_grid {
  display: grid;
  grid-template-columns: 100%;
  justify-content: left;
  align-content: center;
  align-items: stretch;
}

.fieldwork_wrapper {
  display: grid;
  grid-template-columns: 100%;
  border-bottom: 2px solid LightGrey;
  padding-bottom: 20px;
  padding-top: 40px;
  justify-content: left;
}

//No bottom border for this one:
.fieldwork_last_wrapper {
  display: grid;
  grid-template-columns: 100%;
  padding-bottom: 20px;
  padding-top: 40px;
  justify-content: left;
}

@media (min-width: 600px) {
.fieldwork_wrapper {
  display: grid;
  grid-template-columns: 3fr 5fr;
  border-bottom: 2px solid LightGrey;
  grid-column-gap: 20px;
  padding-bottom: 60px;
  padding-top: 60px;
  justify-content: left;
}
}

@media (min-width: 600px) {
.fieldwork_last_wrapper {
  display: grid;
  grid-template-columns: 3fr 5fr;
  grid-column-gap: 20px;
  padding-bottom: 60px;
  padding-top: 60px;
  justify-content: left;
}
}

.fieldwork_story {
  h4 {
    margin-top: 0px;
  }
}

.fieldwork_pic {
//  padding-top:70px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  height: auto;
  }

//End of additions

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

figure {
  margin: 0;
}

// For correct line number width in Github Gists
.gist table tbody tr td {
  box-sizing: content-box;
}

pre {
  overflow-x: scroll;
}

html {
  background: $background-color;
}

// Typography
::selection {
  background: $selection-color;
}

::-moz-selection {
  background: $selection-color;
}

body {
  color: $text-color;
  font-family: $font-family-main;
  font-size: $font-size;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-headings;
  line-height: 1.3;
  margin: 0.67em 0;

  a {
    color: $text-color;
  }

}

h1 {
  font-size: 2.3em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.15em;
}

iframe,
img,
embed,
object,
video {
  max-width: 100%;
  padding: 0 9%;
}

img[align=left] {
  margin-right: 3%;
}

img[align=right] {
  margin-left: 3%;
}

/* ---- Responsive ---- */

@media screen and (max-width: $break) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1em;
  }
  h4, tr, th, .meta {
    font-size: 0.9em;
  }
  p, li, td {
    font-size: 0.8em;
  }
  li li {
    font-size: 0.95em;
  }
  li li * {
    font-size: 1em;
  }

  iframe,
  img,
  embed,
  object,
  video {
    max-width: 100%;
    padding: 0 1%;
  }
}

@media screen and (max-width: $sm-break) {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1em;
  }
  h3 {
    font-size: 0.9em;
  }
  h4, th, tr, .meta {
    font-size: 0.85em;
  }
  p, li, td {
    font-size: 0.8em;
  }
  li li {
    font-size: 0.95em;
  }
  li li * {
    font-size: 1em;
  }

  table {
    overflow-x: scroll;
  }
}

blockquote {
  border-left: 2px solid darken($blockquote-color, 20%);
  margin: 1em 1em;
  padding: 0.75em 1em;
  background-color: $blockquote-color;
  box-shadow: 0 2px 2px $border-color;
}

blockquote p:last-child,
footer p:last-child {
  margin-bottom: 0;
}

table {
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
  display: inline-block;
}

td,
th {
  padding: 0.5em 1em;
  border: 1px solid $border-color;
  text-align: left;
}

table,
dl,
kbd,
samp {
  margin: 1em 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 2em;
}

p,
ol,
ul,
dl,
.math-display {
  line-height: 1.5;
  margin-bottom: 1em;
}

// KaTeX math display
.math-display {
  display: inline-block;
  width: 100%;
}

// Lists within lists
li {
  p {
    display: inline;
  }

  & > ul,
  & > ol {
    margin-bottom: 0;
    margin-left: 1em;
  }
}

ol,
ul {
  list-style-position: outside;
  margin-left: 1em;
}

hr {
  border: 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid #fff;
  margin: 1em 0;
}

a {
  color: $link-color;
  text-decoration: none;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}
